body {
    background-color: #eee;
}

.canvas {
    position: absolute; 
    visibility: hidden;
}

.panel {
    margin-top: 40px;
}

.panel-footer {
    text-align: center;
}

.center-image {
    display: block;
    margin: 0 auto;
}